APP_NAME=Raizbird
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="info@railbird.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# seeder作成用ログインアカウント(未設定時はコード中のデフォルト値を使用)
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

SARA_DOMAIN="sara.co.jp"
# スーパーユーザーのメールアドレス(カンマ区切りで複数指定可能)
SUPER_USER_EMAILS="k-takegami@sara.co.jp,t-yamamoto@sara.co.jp"
# 例外ユーザーのメールアドレス(カンマ区切りで複数指定可能)
# 2段階認証除外用
EXCEPTION_USER_EMAILS="raizonline@sara.co.jp"

# reCAPTCHA設定
GOOGLE_RECAPTCHA_KEY=6LfbFhwqAAAAAAiNjpeeNbVX0tueMHDUob_l2nSZ
GOOGLE_RECAPTCHA_SECRET=6LfbFhwqAAAAABuaIgAcer9dE-QF7l0MpT9IjuqB

# 購入者アップロード可能な物件IDのリスト(カンマ区切りで複数指定可能)
# 例: BUYER_UPLOAD_ENABLED_BUILDING_IDS=1,2,3
BUYER_UPLOAD_ENABLED_BUILDING_IDS=

# サーバ側のChromeパス
CHROMIUM_PATH=